<!DOCTYPE html>
<html>

    <head>
        <title></title>
        <link rel="stylesheet" href="uikit-3/css/uikit.min.css" />
        <link rel="stylesheet" href="uikit-3/css/uikit-rtl.css" />
        <link rel="stylesheet" href="uikit-3/css/uikit-rtl.min.css" />
        <link rel="stylesheet" href="uikit-3/css/uikit.css" />
        <script src="jquery.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit-icons.min.js"></script>
        <meta charset="utf-8">
        <link rel="stylesheet" href="uikit-3/css/css_custom/header.css" />
        <script src="uikit-3/js_custom/headers.js"></script>
</head>

<body>
        <div id="qui"></div>
        <script>
            header_user("qui", "<%= numero_carrello %>");
        </script>
        
        <!-- Elementi carrelli -->
        <section class="uk-section uk-section-default" id="elementi_carrello">
            <h3 class="uk-heading-medium" style="text-align: center; color: red;">Carrello</h3>
            
            <div class="uk-container"></div>    
                <div class="uk-card uk-card-default uk-card-body" style="margin: auto; background-color:whitesmoke; border-radius: 50px; width: 70%;">
                    <div style="text-align: center;"> 
                    </div>
                    <table class="uk-table uk-table-striped uk-table-hover" id="myTable">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Eroe/Eroina</th>
                                <th>Data inizio</th>
                                <th>Data Fine</th>
                                <th>Costo</th>
                                <th>Elimina</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% totale = 0 %>
                            <% for(var i=0; i<objects.length; i++) {%>
                            <tr>
                                <td><img width="120" height="120" src = <%= objects[i].Dati_Oggetto.Immagine %>></td>
                                <td><%= objects[i].Dati_Oggetto.DisplayName %></td>
                                <td><%= objects[i].DataInizio.toISOString().substring(0, 10); %></td>
                                <td><%= objects[i].DataFine.toISOString().substring(0, 10); %></td>
                                <td><%= objects[i].Tariffa_Totale; %></td>
                                <% totale = totale + objects[i].Tariffa_Totale; %>
                                <td>
                                    <ul class="uk-iconnav uk-iconnav-vertical">
                                        <form action="/user/eliminaOggettoCarrello<%= objects[i]._id %>" method="POST">
                                            <button><span uk-icon="icon: trash"></span></button>
                                        </form>
                                    </ul>
                                </td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                    


                    
                    <div style="text-align: center; margin-top: 15px;">
                       
                        Codice promozione : <input type="text" id="codice" name="codice" placeholder="Inserisci qui il codice promozionale" onfocusout="onPromozione();" uk-input> 
                        <div>
                            <br>

                            <b>TOTALE : <%= totale %>  €</b>
                        </div>
                        <div id="totScontatoDIV"></div>
                       
                       
                        <input id="totaleScontato" type="hidden" value="">
                       
                        
                        <form action="/user/completaPrenotazione" method="POST">
                        <% for(var i=0; i<objects.length; i++) {%> 
                            <input type="hidden" name="carrello[<%= i %>][id]" value="<%= objects[i]._id %>">
                            <input type="hidden" name="carrello[<%= i %>][Nome]" value="<%= objects[i].Dati_Oggetto.DisplayName %>">
                            <input type="hidden" name="carrello[<%= i %>][DataInizio]" value="<%= objects[i].DataInizio.toISOString().substring(0, 10) %>">
                            <input type="hidden" name="carrello[<%= i %>][DataFine]" value="<%= objects[i].DataFine.toISOString().substring(0, 10) %>">
                            <input type="hidden" name="carrello[<%= i %>][Tariffa]" value="<%= objects[i].Tariffa_Totale; %>">
                            <input type="hidden" name="carrello[<%= i %>][Note]" value="<%= objects[i].Note; %>">
                            <input type="hidden" name="carrello[<%= i %>][id_Oggetto]" value="<%= objects[i].id_Oggetto; %>">
                            <!-- ci devo aggiungere anche lo sconto -->
                            <!-- <input type="hidden" id="scontoForm"name="sconto" value=""> -->
                        <% } %>
                        <div style="text-align: center; margin-top: 15px;">
                            <input type="hidden" name="Tariffa_Totale" id="tariffaTotale" value="<%= totale %>">
                                <button onClick="onScontaTot()" class="uk-button uk-button-secondary uk-button-large";>Effettua pagamento</button>
                            </form>
                        </div>
                        
                        <!-- Una volta effettuato il pagamento, si crea una fattura: questa la si mostrerà tutte le volte che si visualizza una prentoazione conclusa-->
                    </div>                
                </div>
            </div>
        </section>

        <div style="text-align: center; background-image: url('backgroundHome.jpg'); opacity: 0.9;">
            <div>
                <a href="/" class="uk-icon-button" uk-icon="home" style="margin: 40px; color: black;"></a>
            </div>
        </div>
    </body>

    
    <script type="text/javascript"></script>
    <script>
       function onPromozione(){
            var code = document.getElementById("codice").value;
            var codici = <%- JSON.stringify(codicePromozione) %>;
            var sconto; 
            var trovato = false;
            for(let i of codici){
                if(i.codice == code){
                    sconto = i.sconto;
                    trovato = true; 
                    console.log("Sconto trovato : " + i.codice);
                    break;
                }
            }
            if(trovato){
                var totale = <%- parseInt(totale)%>;
                //alert(sconto +1);
                var totaleScontato = (totale - (totale*(sconto/100)));
                try{
                    document.getElementById("totaleScontato").value= totaleScontato; 
                }
                catch(e){console.log(e)}
                
                var y = document.getElementById("totaleScontato").value; 
                alert("totale scontato -- " + y);

                document.getElementById("totScontatoDIV").innerHTML = "<br><b>TOTALE Scontato :"+ totaleScontato +"€</b>";
            }else{
                document.getElementById("totScontatoDIV").innerHTML = "";
                document.getElementById("totaleScontato").value= null; 
            }
           
            
        }

        function onScontaTot(){
           
            var totale = <%- parseInt(totale)%>;
            var totScontato =  document.getElementById("totaleScontato").value;
            if(totScontato){
                alert("totale modificato  ");
               document.getElementById("tariffaTotale").value = totScontato; 
            //    document.getElementById("scontoForm").value = totScontato; 
            }
            
        }
    </script>
</html>