<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="uikit-3/css/uikit.min.css" />
        <link rel="stylesheet" href="uikit-3/css/uikit-rtl.css" />
        <link rel="stylesheet" href="uikit-3/css/uikit-rtl.min.css" />
        <link rel="stylesheet" href="uikit-3/css/uikit.css" />
        <script src="jquery.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit-icons.min.js"></script>
        <meta charset="utf-8">
        <style>
			.invoice-box {
				max-width: 800px;
				margin: auto;
				padding: 30px;
				border: 1px solid #eee;
				box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
				font-size: 16px;
				line-height: 24px;
				font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
				color: #555;
			}

			.invoice-box table {
				width: 100%;
				line-height: inherit;
				text-align: left;
			}

			.invoice-box table td {
				padding: 5px;
				vertical-align: top;
			}

			.invoice-box table tr td:nth-child(2) {
				text-align: right;
			}

			.invoice-box table tr.top table td {
				padding-bottom: 20px;
			}

			.invoice-box table tr.top table td.title {
				font-size: 45px;
				line-height: 45px;
				color: #333;
			}

			.invoice-box table tr.information table td {
				padding-bottom: 40px;
			}

			.invoice-box table tr.heading td {
				background: #eee;
				border-bottom: 1px solid #ddd;
				font-weight: bold;
			}

			.invoice-box table tr.details td {
				padding-bottom: 20px;
			}

			.invoice-box table tr.item td {
				border-bottom: 1px solid #eee;
			}

			.invoice-box table tr.item.last td {
				border-bottom: none;
			}

			.invoice-box table tr.total td:nth-child(2) {
				border-top: 2px solid #eee;
				font-weight: bold;
			}

			@media only screen and (max-width: 600px) {
				.invoice-box table tr.top table td {
					width: 100%;
					display: block;
					text-align: center;
				}

				.invoice-box table tr.information table td {
					width: 100%;
					display: block;
					text-align: center;
				}
			}

			/* RTL */
			.invoice-box.rtl {
				direction: rtl;
				font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
			}

			.invoice-box.rtl table {
				text-align: right;
			}

			.invoice-box.rtl table tr td:nth-child(2) {
				text-align: left;
			}
		</style>
    </head>
<body>
	<% sommaTariffe = 0; %>

    <div class="invoice-box">
        <table cellpadding="0" cellspacing="0">
            <tr class="top">
                <td colspan="2">
                    <table>
                        <tr>
                            <td class="title">
                                <img src="Marvel.png" style="width: 100%; max-width: 300px" />
                            </td>

                            <td>
                                Fattura n: <%= Codice %><br />
                                Data : <%= Data.toISOString().substring(0, 10); %>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr class="information">
                <td colspan="2">
                    <table>
                        <tr>
                            <td>
                                MARVEL SRL<br />
                                info@marvel.it<br />
                                Piazza Maggiore 1 Bologna 40126
                            </td>

                            <td>
                                <%=Utente.nome%>  <%=Utente.cognome%><br />
                                <%=Utente.email%><br />
                                <%=Utente.indirizzo%>  <%=Utente.citta%>  <%=Utente.cap%>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr class="heading">
                <td>Prodotto</td>

                <td>Prezzo</td>
            </tr>

            <% for(var i=0; i<Noleggi.length; i++) {%>

            <tr class="item">
                <td> <%= Noleggi[i].Nome %></td>

                <td><%= Noleggi[i].Tariffa %> €</td>
				<% sommaTariffe += parseInt(Noleggi[i].Tariffa)  %>
            </tr>

            <% } %>

			<% if( Tariffa_Totale < sommaTariffe){ %>
				<td style="font-style: italic;"> Sconto </td>

                <td> <%= (sommaTariffe  - Tariffa_Totale) %> €</td>

			<% } %>

            <tr class="item last">
            </tr>

            <tr class="total">
                <td></td>

                <td>Totale: <%= Tariffa_Totale %> €</td>
            </tr>
        </table>
    </div>

	<div style="text-align: center;">
		<a href="/" class="uk-icon-button" uk-icon="home" style="margin: 40px; color: black;"></a>
	</div>



    
</body>
</html>