<!DOCTYPE html>
<html>

    <head>
        <title></title>
        <link rel="stylesheet" href="uikit-3/css/uikit.min.css" />
        <link rel="stylesheet" href="uikit-3/css/uikit-rtl.css" />
        <link rel="stylesheet" href="uikit-3/css/uikit-rtl.min.css" />
        <link rel="stylesheet" href="uikit-3/css/uikit.css" />
        <script src="jquery.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit-icons.min.js"></script>
        <meta charset="utf-8">
        <link rel="stylesheet" href="uikit-3/css/css_custom/header.css" />
        <script src="uikit-3/js_custom/headers.js"></script>
    </head>

    <body>
        <% if(!session){  session ={type:""}; }%>
        <div id = "qui"></div>
        <script>
            var u = "<%= session.type %>";
            console.log(u);
            if(!u){
                header_nolog("qui");
            } 
            if(u && u == "user" ){
                header_user("qui" , "<%= numero_carrello %>");
            } 
             if(u && u =="admin" ){
                header_admin("qui");
            }
            // da modificare e rendere dinamico
        </script>


        <div style="text-align: center;">
            <h1 style="font-style: italic;">Benvenuto <% if(session) {%> <%= session.nome%> <%} %> in Nolo Nolo</h1>
            <p> In questo sito potrai noleggiare qualsiasi personaggio o oggetto relativo al mondo Marvel </p>
        </div>

        <!-- Lista degli oggetti disponibili -->
        <div> 
            <% for(var i=0; i<objects.length; i++) {%>  
                <% if(objects[i].tipo == "Personaggio") {%> 
                    <!-- stampa personaggi -->
                    <div class="uk-card uk-card-default uk-card-body" style="margin: auto; margin-bottom: 25px; background-color:whitesmoke; border-radius: 50px; width: 70%;">
                        <h3 class="uk-heading-divider" style="text-align: center; color: red;"><%= objects[i].DisplayName %></h3>
                        <div uk-grid class="uk-grid">
                            <div class="uk-width-1-2">
                                <img src = <%= objects[i].Immagine %>>
                                
                            </div>
                            <div class="uk-width-1-2">
                                <ul class="uk-iconnav uk-iconnav-vertical">
                                    <li><span uk-icon="icon: user"></span>  Nome completo: <%= objects[i].NomeCompleto %></li>
                                    <li><span uk-icon="icon: credit-card"></span>  Tariffa giornaliera: <%= objects[i].Tariffa %></li>
                                    <li><span uk-icon="icon: info"></span>  Caratteristiche particolari : <%= objects[i].Caratteristiche %></li>
                                    <li><span uk-icon="icon: warning"></span>   Avvertenze : <%= objects[i].Avvertenze %></li>
                                    <li><span uk-icon="icon: warning"></span>   Condizioni : <%= objects[i].Condizione %></li>
                                    <li><span uk-icon="icon: warning"></span>   Stato : <%= objects[i].Stato %></li>
                                    <li><span uk-icon="icon: plus-circle"></span>   Numero noleggi : <%= objects[i].Numero_Noleggi %></li>
                                </ul>
                                <div style="text-align: center; margin-top: 15px;">
                                    
                                    <!-- compare questo button solo se è loggato l'admin -->
                                    <% if(session && session.type == "admin"){ %>
                                        <a href="/admin/modificaOggetto<%= objects[i]._id %>"><button class="uk-button uk-button-secondary uk-button-large";>Modifica Oggetto</button></a>

                                        <!-- ELIMINA: solo se Numero_Noleggi è uguale a 0 -->
                                        <% if(objects[i].Numero_Noleggi == 0) { %>
                                            <div style="text-align: center; margin-top: 15px;">
                                                <form action="/admin/eliminaOggetto<%= objects[i]._id %>" method="POST">
                                                    <button class="uk-button uk-button-secondary uk-button-large";>Elimina oggetto</button>
                                                </form>
                                            </div>
                                        <% } %>
                                    <% } else { %>
                                        <% if (objects[i].Stato == "Disponibile") { %>
                                            <a href="/user/prenotazione<%= objects[i]._id %>"><button class="uk-button uk-button-secondary uk-button-large";>Noleggia Ora</button></a>
                                            <% } else { %>
                                                <a href="/user/prenotazione<%= objects[i]._id %>"><button disabled class="uk-button uk-button-secondary uk-button-large";>Noleggia Ora</button></a>
                                            <% } %>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                <% } else { %>
                    <!-- stampa oggetti -->
                    <div class="uk-card uk-card-default uk-card-body" style="margin: auto; margin-bottom: 25px; background-color:whitesmoke; border-radius: 50px; width: 70%;">
                        <h3 class="uk-heading-divider" style="text-align: center; color: red;"><%= objects[i].DisplayName %></h3>
                        <div uk-grid class="uk-grid">
                            <div class="uk-width-1-2">
                                <img src = <%= objects[i].Immagine %>>
                                
                            </div>
                            <div class="uk-width-1-2">
                                <ul class="uk-iconnav uk-iconnav-vertical">
                                    <li><span uk-icon="icon: cog"></span>  Descrizione : <%= objects[i].Descrizione %></li>
                                    <li><span uk-icon="icon: credit-card"></span>  Tariffa giornaliera: <%= objects[i].Tariffa %></li>
                                    <li><span uk-icon="icon: info"></span>  Caratteristiche particolari : <%= objects[i].Caratteristiche %></li>
                                    <li><span uk-icon="icon: warning"></span>   Avvertenze : <%= objects[i].Avvertenze %></li>
                                    <li><span uk-icon="icon: warning"></span>   Condizioni : <%= objects[i].Condizione %></li>
                                    <li><span uk-icon="icon: warning"></span>   Stato : <%= objects[i].Stato %></li>
                                    <li><span uk-icon="icon: plus-circle"></span>   Numero noleggi : <%= objects[i].Numero_Noleggi %></li>
                                </ul>
                                <div style="text-align: center; margin-top: 15px;">
                                    <% if(session && session.type == "admin"){ %>
                                        <a href="/admin/modificaOggetto<%= objects[i]._id %>"><button class="uk-button uk-button-secondary uk-button-large";>Modifica Oggetto</button></a>
                                        <!-- ELIMINA: solo se Numero_Noleggi è uguale a 0 -->
                                        <% if(objects[i].Numero_Noleggi == 0) { %>
                                            <div style="text-align: center; margin-top: 15px;">
                                                <form action="/admin/eliminaOggetto<%= objects[i]._id %>" method="POST">
                                                    <button class="uk-button uk-button-secondary uk-button-large";>Elimina oggetto</button>
                                                </form>
                                            </div>
                                        <% } %>
                                    <% } else { %>
                                        <a href="/user/prenotazione<%= objects[i]._id %>"><button class="uk-button uk-button-secondary uk-button-large";>Noleggia Ora</button></a>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                <% } %>
            <% }; %>
        </div>       


        <div style="text-align: center; background-image: url('backgroundHome.jpg'); opacity: 0.9;">
            <div>
                <a href="" class="uk-icon-button" uk-icon="home" style="margin: 40px; color: black;"></a>
            </div>
        </div>
 
    </body>
</html>