<!DOCTYPE html>
<html>

    <head>
        <title>Registrazione</title>
        <!-- Inizio -- head che funziona perfettamente-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="uikit-3/css/uikit.min.css" />
        <script src="uikit-3/js/uikit.min.js"></script>
        <script src="uikit-3/js/uikit-icons.min.js"></script>
        <link rel="stylesheet" href="uikit-3/css/css_custom/header.css" />
        <script src="uikit-3/js_custom/headers.js"></script>
</head>


<body>
        <div id="qui"></div>
        <script>
            header_nolog("qui");
        </script>
        
        <div>
            <h2 class="uk-text-center">LogIn</h2>
            <p class="uk-text-center">
                Inserire le credenziali con le quali si è creato il proprio account
            </p>
            <% if(fallito > 0){ %>
                <div>
                    <p style="text-align: center; font-weight: bold; color: red;">Credenzia errate o non esistenti!</p>
                </div>
            <%}%>
        </div>
        
        <div class="uk-text-center">
            <form action="/login" method="POST">

                <div class="uk-margin">
                    <div class="uk-inline">
                        <span class="uk-form-icon" uk-icon="icon: user"></span>
                        <input class="uk-input" type="text" placeholder="email" name="email" required>
                    </div>
                </div>
            
                <div class=" uk-inline">
                    <a id="icon-psw" class="uk-icon-button uk-form-icon uk-form-icon-flip" uk-icon="unlock" onclick="
                        if(document.getElementById('psw-input').type !='text'){
                            document.getElementById('psw-input').type='text';
                            document.getElementById('icon-psw').setAttribute('uk-icon', 'unlock');
                        }else{
                            document.getElementById('psw-input').type='password';
                           document.getElementById('icon-psw').setAttribute('uk-icon', 'lock');
                        }
                       
                        "></a>
                    <input  id="psw-input" class="uk-input" type="password" name="password" placeholder="password" required>
                </div>
                <div class="uk-margin">
                    <button type="submit" class="uk-button uk-button-primary" >LogIn</button>
                </div>
            </form>

            <div class="uk-margin">
                <a href="/user/registrazione">Non hai un account?</a>
            </div>
        </div>





        <div id="footer" style="text-align: center; background-image: url('backgroundHome.jpg'); opacity: 0.9;">
            <div>
                <a href="/" class="uk-icon-button" uk-icon="home" style="margin: 40px; color: black;"></a>
            </div>
        </div>
    </body>
</html>