<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="uikit-3/css/uikit.min.css" />
        <link rel="stylesheet" href="uikit-3/css/uikit-rtl.css" />
        <link rel="stylesheet" href="uikit-3/css/uikit-rtl.min.css" />
        <link rel="stylesheet" href="uikit-3/css/uikit.css" />
        <script src="jquery.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit-icons.min.js"></script>
        <meta charset="utf-8">
        <link rel="stylesheet" href="uikit-3/css/css_custom/header.css" />
        <script src="uikit-3/js_custom/headers.js"></script>
</head>

<body>
        <div id="qui"></div>
        <script>
            header_admin("qui");
        </script>
        

        <!-- Mie prenotazioni -->
        <section class="uk-section uk-section-default" id="mie_prenotazioni">
            <h3 class="uk-heading-medium" style="text-align: center; color: red;">PRENOTAZIONI</h3>
            
            <div class="uk-container"></div>    
                <div class="uk-card uk-card-default uk-card-body" style="margin: auto; background-color:whitesmoke; border-radius: 50px; width: 70%;">
                    <div style="text-align: center;"> 
                    </div>
                    <table class="uk-table uk-table-striped uk-table-hover">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Cognome</th>
                                <th>Email</th>
                                <th>Totale pagato</th>
                                <th>Data </th>
                                <th>Fattura</th>  <!--Fattura/modifica-->
                                <th>Extra</th>  <!--Fattura/modifica-->
                                <th>Elimina</th>  <!--Fattura/modifica-->
                            </tr>
                        </thead>
                        <tbody>
                            <% for(var i=0; i<Prenotazione.length; i++){ %>
                                <tr>
                                    <td><%= Prenotazione[i].Nome %></td>
                                    <td><%= Prenotazione[i].Cognome %></td>
                                    <td><%= Prenotazione[i].Email %></td>
                                    <td><%= Prenotazione[i].Tariffa_Totale %></td>
                                    <td><%= Prenotazione[i].Data.toISOString().substring(0,10) %></td>
                                    <td> <a href="/admin/visualizzaFatturaPrenotazione<%=Prenotazione[i].Codice%>" rel="noopener noreferrer" target="_blank" >Vedi Fattura </a></td>
                                    <td> <a href="/admin/visualizzaNoleggi<%= Prenotazione[i]._id%>">Modifica Noleggi</a></td>
                                    <td>
                                        <ul class="uk-iconnav uk-iconnav-vertical">
                                            <form action="/user/eliminaPrenotazione<%= Prenotazione[i]._id %>" method="POST">
                                                <button><span uk-icon="icon: trash"></span></button>
                                            </form>
                                        </ul>
                                    </td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>


                    <!-- This is the modal -->
                    <div id="modal" uk-modal>
                        <div class="uk-modal-dialog uk-modal-body">
                            <h2 class="uk-modal-title">Fattura</h2>
                            <p>Calcolo fattura...</p>
                            <p class="uk-text-center">
                                <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- Footer-->
        <div style="text-align: center; background-image: url('backgroundHome.jpg'); opacity: 0.9;">
            <div>
                <a href="/" class="uk-icon-button" uk-icon="home" style="margin: 40px; color: black;"></a>
            </div>
        </div>
    </body>
</html>