<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="uikit-3/css/uikit.min.css" />
        <link rel="stylesheet" href="uikit-3/css/uikit-rtl.css" />
        <link rel="stylesheet" href="uikit-3/css/uikit-rtl.min.css" />
        <link rel="stylesheet" href="uikit-3/css/uikit.css" />
        <script src="jquery.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit-icons.min.js"></script>
        <meta charset="utf-8">
        <link rel="stylesheet" href="uikit-3/css/css_custom/header.css" />
        <script src="uikit-3/js_custom/headers.js"></script>
    </head>

    <body>
        <div id="qui"></div>
        <script>
            header_admin("qui");
        </script>
        
        <!-- Select -->
        <ul class="uk-flex-center" uk-tab >
            <li class="uk-active"><a href="#nuovo_personaggio">Personaggio</a></li>
            <li><a href="#nuovo_oggetto">Oggetto</a></li>
        </ul>
        
        <ul class="uk-switcher uk-margin">
            <li>
                <!-- Aggiungi Personaggio -->
                <section class="uk-section uk-section-default" id="nuovo_personaggio">                    
                    <div class="uk-container"></div>    
                        <div class="uk-card uk-card-default uk-card-body" style="margin: auto; background-color:whitesmoke; border-radius: 50px; width: 70%;">
                            <div style="text-align: center;">
                                <div style="width: 60vw; margin:auto; margin-bottom: 5vh;">
                                    <form name="form-reg-pers" class="uk-grid-small uk-flex-center uk-form-horizontal uk-margin-large" uk-grid action="/admin/aggiungiOggetto" method="POST" enctype="multipart/form-data">
                                        <input type="hidden" name="tipo" value="Personaggio" > 
                                        <input type="hidden" type="number" name="Numero_Noleggi" value="0" >
                                        <div class="uk-width-1-1">
                                            <input class="uk-input" type="text" placeholder="Nome" name="DisplayName" required>
                                        </div>
                                        <div class="uk-width-3-4@s">
                                            <input class="uk-input" type="text" placeholder="Nome completo" name="NomeCompleto" required>
                                        </div>
                                        <div class="uk-width-1-4@s">
                                            <input class="uk-input" type="number" placeholder="Tariffa" name="Tariffa" required>
                                        </div>
                                        <div class="uk-width-1-1">
                                            <input class="uk-input" type="text" placeholder="Caratteristiche" name="Caratteristiche" required>
                                        </div>
                                        <div class="uk-width-1-1">
                                            <input class="uk-input" type="text" placeholder="Avvertenze" name="Avvertenze" required>
                                        </div>

                                        <!-- CONDIZIONI -->
                                        <div class="uk-width-1-1 uk-margin">
                                            <label class="uk-form-label" for="form-horizontal-select">Condizioni:</label>
                                            <div class="uk-form-controls">
                                                <select class="uk-select" name="Condizione">
                                                    <option>Ottima</option>
                                                    <option>Buona</option>
                                                    <option>Pessima</option>
                                                </select>
                                            </div>
                                        </div>

                                        <!-- STATO -->
                                        <div class="uk-width-1-1 uk-margin">
                                            <label class="uk-form-label" for="form-horizontal-select">Stato:</label>
                                            <div class="uk-form-controls">
                                                <select class="uk-select" name="Stato">
                                                    <option>Disponibile</option>
                                                    <option>Non disponibile</option>
                                                </select>
                                            </div>
                                        </div>

                                        <input id="Numero_Noleggi" name="Numero_Noleggi" type="hidden" value= 0>
                                        
                                        <input type="file" name="foto" />
                                        

                                       <div class="uk-flex uk-flex-center">
                                            <button class="uk-button" type = "submit"> Aggiungi </button>
                                       </div>

                                       
                                    </form>
                                </div>          
                            </div>
                        </div>
                    </div>
                </section>
            </li>
            <li>
                <!-- Aggiungi Oggetto -->
                <section class="uk-section uk-section-default" id="nuovo_oggetto">
                    <div class="uk-container"></div>    
                        <div class="uk-card uk-card-default uk-card-body" style="margin: auto; background-color:whitesmoke; border-radius: 50px; width: 70%;">
                            <div style="text-align: center;"> 
                                <div style="width: 60vw; margin:auto; margin-bottom: 5vh;">
                                    <form name="form-reg-ogg" class="uk-grid-small uk-flex-center uk-form-horizontal uk-margin-large" uk-grid action="/admin/aggiungiOggetto" method="POST" enctype="multipart/form-data">
                                        <input type="hidden" name="tipo" value="Oggetto" >
                                        <input type="hidden" type="number" name="Numero_Noleggi" value="0" >
                                        <!-- lista elementi da inserire -->
                                        <div class="uk-width-1-1">
                                            <input class="uk-input" type="text" placeholder="Nome" name="DisplayName" required>
                                        </div>
                                        <div class="uk-width-3-4@s">
                                            <input class="uk-input" type="text" placeholder="Descrizione" name="Descrizione" required>
                                        </div>
                                        <div class="uk-width-1-4@s">
                                            <input class="uk-input" type="number" placeholder="Tariffa" name="Tariffa" required>
                                        </div>
                                        <div class="uk-width-1-1">
                                            <input class="uk-input" type="text" placeholder="Caratteristiche" name="Caratteristiche" required>
                                        </div>
                                        <div class="uk-width-1-1">
                                            <input class="uk-input" type="text" placeholder="Avvertenze" name="Avvertenze" required>
                                        </div>

                                        <!-- CONDIZIONI -->
                                        <div class="uk-width-1-1 uk-margin">
                                            <label class="uk-form-label" for="form-horizontal-select">Condizioni:</label>
                                            <div class="uk-form-controls">
                                                <select class="uk-select" name="Condizione">
                                                    <option>Ottime</option>
                                                    <option>Buone</option>
                                                    <option>Pessime</option>
                                                </select>
                                            </div>
                                        </div>

                                        <!-- STATO -->
                                        <div class="uk-width-1-1 uk-margin">
                                            <label class="uk-form-label" for="form-horizontal-select">Stato:</label>
                                            <div class="uk-form-controls">
                                                <select class="uk-select" name="Stato">
                                                    <option>Disponibile</option>
                                                    <option>Non disponibile</option>
                                                </select>
                                            </div>
                                        </div>
                                        <input type="number" id="Numero_Noleggi" name="Numero_Noleggi" value= 0 style="display: none">


                                        <input type="file" name="foto" />

                                        
                                       <div class="uk-flex uk-flex-center">
                                            <button class="uk-button"> Aggiungi </button>
                                       </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </li>
        </ul>
        


        <!-- Footer-->
        <div style="text-align: center; background-image: url('backgroundHome.jpg'); opacity: 0.9;">
            <div>
                <a href="/" class="uk-icon-button" uk-icon="home" style="margin: 40px; color: black;"></a>
            </div>
        </div>
    </body>
</html>