<!DOCTYPE html>
<html>

<head>
    <title>Modifica Dati di un utente</title>
    <!-- Inizio -- head che funziona perfettamente-->
    <link rel="stylesheet" href="uikit-3/css/uikit.min.css" />
        <link rel="stylesheet" href="uikit-3/css/uikit-rtl.css" />
        <link rel="stylesheet" href="uikit-3/css/uikit-rtl.min.css" />
        <link rel="stylesheet" href="uikit-3/css/uikit.css" />
        <script src="jquery.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit-icons.min.js"></script>
        <meta charset="utf-8">
    <!-- Fine --  head che funziona perfettamente-->
    <link rel="stylesheet" href="uikit-3/css/css_custom/header.css" />
    <script src="uikit-3/js_custom/headers.js"></script>
</head>

<body>
    <div id="qui"></div>
    <script>
        header_admin("qui");
    </script>
    

    <!-- ---------------------------------------------------------------------------------------------- -->
    <div class="uk-card uk-card-default uk-card-body" style="margin: auto; margin-top: 50px; margin-bottom: 50px; background-color:whitesmoke; border-radius: 50px; width: 70%;">

        <div uk-grid class="uk-grid">
            <div class="uk-width-1-2">
                <div class="uk-width-auto">
                    <div class="uk-width-expand">
                        <h3 class="uk-heading-divider" style="text-align: center; "> 
                            <%=noleggio[0].Nome %>
                        </h3>
                    </div>
                </div>
                <ul class="uk-iconnav uk-iconnav-vertical">
                    <li><span uk-icon="icon: calendar"></span>  Data inizio: <%= noleggio[0].DataInizio.toISOString().substring(0,10) %></li>
                    <li><span uk-icon="icon: calendar"></span>  Data fine: <%= noleggio[0].DataFine.toISOString().substring(0,10) %></li>
                    <li><span uk-icon="icon: credit-card"></span>  Tariffa totale: <%= noleggio[0].Tariffa_Totale %></li>
                    <li><span uk-icon="icon: comment"></span>  Note: <%= noleggio[0].Note %></li>
                    <li><span uk-icon="icon: warning"></span>  Status: <%= noleggio[0].Status %></li>
                </ul>
            </div>
            <div class="uk-width-1-2">
                <div class="uk-width-auto">
                    <div class="uk-width-expand">
                        <h3 class="uk-heading-divider" style="text-align: center; "> 
                            <%=noleggio[0].dati_Utente.nome %> <%=noleggio[0].dati_Utente.cognome  %>
                        </h3>
                    </div>
                </div>
                <ul class="uk-iconnav uk-iconnav-vertical">
                    <li><span uk-icon="icon: mail"></span>  Email: <%= noleggio[0].dati_Utente.email %></li>
                    <li><span uk-icon="icon: location"></span>  Città: <%= noleggio[0].dati_Utente.citta %></li>
                    <li><span uk-icon="icon: location"></span>  CAP: <%= noleggio[0].dati_Utente.cap %></li>
                    <li><span uk-icon="icon: home"></span>  Indirizzo: <%= noleggio[0].dati_Utente.indirizzo %></li>
                </ul>
            </div>
        </div>

        <div style="margin-top: 40px;">
            <form action="/admin/fatturaChiusuraNoleggio" method="POST">
                <div class="uk-width-1-4@s"> 
                    <h>Penale: </h>
                    <input class="uk-input" type="number" placeholder="Penale" name="tariffa" required>
                </div>
                <input type="hidden" name="noleggio" value="<%=JSON.stringify(noleggio[0])%>">
                <div style="text-align: center;" class="uk-card-footer">                  
                    <button  type="submit" class="uk-button uk-button-text">Chiudi Noleggio</button>
                </div>
            </form>
        </div>
        
    </div>

    <div style="text-align: center; background-image: url('backgroundHome.jpg'); opacity: 0.9;">
        <div>
            <a href="/" class="uk-icon-button" uk-icon="home" style="margin: 40px; color: black;"></a>
        </div>
    </div>

    <script>
        

        document.querySelectorAll('input').forEach(item => {
            item.addEventListener('change', event => {
                var id = event.target.id; // id di chi a chiamato l'evento
                var id_changed = id + "-changed";
                var x = document.getElementById(id).value; // valore che è stato cambiato

                // alert(id +" -- "+  x);
                if(!x){
                    x = 'CaNcElLaTo-9999';
                }
                document.getElementById(id_changed).value = x;  
                //alert(document.getElementById(id_changed).value);

            });
        })
    </script>
</body>

</html>