<!DOCTYPE html>
<html>

<head>
    <title>Crea Utente</title>
    <!-- Inizio -- head che funziona perfettamente-->
    <link rel="stylesheet" href="uikit-3/css/uikit.min.css" />
        <link rel="stylesheet" href="uikit-3/css/uikit-rtl.css" />
        <link rel="stylesheet" href="uikit-3/css/uikit-rtl.min.css" />
        <link rel="stylesheet" href="uikit-3/css/uikit.css" />
        <script src="jquery.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit-icons.min.js"></script>
        <meta charset="utf-8">
        <link rel="stylesheet" href="uikit-3/css/css_custom/header.css" />
        <script src="uikit-3/js_custom/headers.js"></script>
</head>

<body>
        <div id="qui"></div>
        <script>
            header_admin("qui");
        </script>
    
        <%
            if(errore){ %>
                <script>
                    UIkit.notification({message: "L'email risulta essere già usata ... \n si prega di usarne una differente", pos:"top-right",status: 'danger', timeout: 10000});
                </script>
            <% }
        %>
   

    <!-- ---------------------------------------------------------------------------------------------- -->
    <div class="uk-text-center">
        <h2>Crea utente </h2>
        <p>Inserisci i dati per quest'utente  <br><i>("ricorda che nome, cognome, email e password sono obbligatori!")</i></p>
    </div>
    
    <div style="width: 60vw; margin:auto; margin-bottom: 5vh;">
        <form name="form-reg" class="uk-grid-small uk-flex-center" uk-grid action="/user/registrazione" method="POST">
            <div class="uk-width-1-1">
                <input class="uk-input" type="text" placeholder="email" id="email" name="email" required>
            </div>
            <!--Inizio- prova di password cliccabile-->      
            <div class="uk-width-1-1">
                <div class="uk-width-1-1 uk-inline">
                    <a id="icon-psw" class="uk-icon-button uk-form-icon uk-form-icon-flip" uk-icon="unlock" onclick="
                        if(document.getElementById('psw-input').type !='text'){
                            document.getElementById('psw-input').type='text';
                            document.getElementById('icon-psw').setAttribute('uk-icon', 'unlock');
                        }else{
                            document.getElementById('psw-input').type='password';
                        document.getElementById('icon-psw').setAttribute('uk-icon', 'lock');
                        }
                    
                        "></a>
                    <input  id="psw-input" class="uk-input" type="password" name="password" placeholder="password" required>
                
                </div>
            </div>
             <!-- Fine - prova di password cliccabile-->
            <div class="uk-width-1-2@s">
                <input class="uk-input" type="text" placeholder="Nome"  name="nome" required>
            </div>
            <div class="uk-width-1-2@s">
                <input class="uk-input" type="text" placeholder="Cognome"  name="cognome" required>
            </div>
            <div class="uk-width-1-4@s">
                <input class="uk-input" type="text" placeholder="Citta" name="citta">
            </div>
            <div class="uk-width-1-4@s">
                <input class="uk-input" type="text" placeholder="CAP"  name="cap">  
            </div>
            
            <div class="uk-width-1-2@s">
                <input class="uk-input" type="text" placeholder="Indirizzo" name="indirizzo">
            </div>
            <div class="uk-width-1-1">
                <label for="type">Seleziona il tipo di utente : </label>
                <select class="uk-input" size=1  name="type">
                    <option value="admin">Admin</option>
                    <option value="user">User</option>
                </select>
            </div>
           <div class="uk-flex uk-flex-center">
                <button class="uk-button" onclick="
                    
                    var re = /\S+@\S+\.\S+/;
                    var email = document.getElementById('email').value;
                    if( !re.test(email) ){
                        event.preventDefault();
                        UIkit.notification({message: '<span uk-icon=\'icon:warning\'></span> email non valida ', status: 'danger'});
                        document.getElementById('email').value='';
                    }
                   
                "> Registrati </button>
           </div>




       </div>
                       
        </form>
    </div>

    <div style="text-align: center; background-image: url('backgroundHome.jpg'); opacity: 0.9;">
        <div>
            <a href="/" class="uk-icon-button" uk-icon="home" style="margin: 40px; color: black;"></a>
        </div>
    </div>
   
</body>

</html>