<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="uikit-3/css/uikit.min.css" />
        <link rel="stylesheet" href="uikit-3/css/uikit-rtl.css" />
        <link rel="stylesheet" href="uikit-3/css/uikit-rtl.min.css" />
        <link rel="stylesheet" href="uikit-3/css/uikit.css" />
        <script src="jquery.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit-icons.min.js"></script>
        <meta charset="utf-8">
        <link rel="stylesheet" href="uikit-3/css/css_custom/header.css" />
        <script src="uikit-3/js_custom/headers.js"></script>
</head>

<body>
        <div id="qui"></div>
        <script>
            header_admin("qui");
        </script>
        

        <!-- Mie prenotazioni -->
        <section class="uk-section uk-section-default" id="mie_prenotazioni">
            <h3 class="uk-heading-medium" style="text-align: center; color: red;">Noleggi</h3>
            
            <div class="uk-container"></div>    
                <div class="uk-card uk-card-default uk-card-body" style="margin: auto; background-color:whitesmoke; border-radius: 50px; width: 70%;">
                    <div style="text-align: center;"> 
                    </div>
                    <table class="uk-table uk-table-striped uk-table-hover">
                        <thead>
                            <tr>
                                <th>Oggetto</th>
                                <th>Nome</th>
                                <th>Cognome</th>
                                <th>Email</th>
                                <th>Costo Noleggio</th>
                                <th>Status </th>
                                <th>Penale</th>  <
                            </tr>
                        </thead>
                        <tbody>
                            <% for(var i=0; i<noleggio.length; i++){ %>
                                <tr>
                                    <td><%= noleggio[i].Nome %></td>
                                    <td><%= noleggio[i].dati_Utente.nome %></td>
                                    <td><%= noleggio[i].dati_Utente.cognome%></td>
                                    <td><%= noleggio[i].dati_Utente.email %></td>
                                    <td><%= noleggio[i].Tariffa_Totale%></td>
                                    <td><%= noleggio[i].Status%></td> <!-- 
                                        se lo status è chiuso bisogna mettere un altro link per vedere la fattura
                                    -->
                                    <% if(noleggio[i].Status == "attivo" || noleggio[i].Status == "futuro"){%>
                                        <td><a href="/admin/chiudiNoleggio<%=noleggio[i]._id %>">Chiudi noleggio</a></td>
                                    <% }else if(noleggio[i].Status == "Interrotto"){ %>
                                        <td><a href="/admin/visualizzaFatturaChiusura<%=noleggio[i]._id%>" rel="noopener noreferrer" target="_blank" >Vedi Fattura </a></td>
                                    <% } else {%>
                                        <td> / </td>
                                   <%}%>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>


                    <!-- This is the modal -->
                    <div id="modal" uk-modal>
                        <div class="uk-modal-dialog uk-modal-body">
                            <h2 class="uk-modal-title">Fattura</h2>
                            <p>Calcolo fattura...</p>
                            <p class="uk-text-center">
                                <button class="uk-button uk-button-default uk-modal-close" type="button">Close</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- Footer-->
        <div style="text-align: center; background-image: url('backgroundHome.jpg'); opacity: 0.9;">
            <div>
                <a href="/" class="uk-icon-button" uk-icon="home" style="margin: 40px; color: black;"></a>
            </div>
        </div>
    </body>
</html>