<!DOCTYPE html>
<html>

    <head>
        <title></title>
        <link rel="stylesheet" href="uikit-3/css/uikit.min.css" />
        <link rel="stylesheet" href="uikit-3/css/uikit-rtl.css" />
        <link rel="stylesheet" href="uikit-3/css/uikit-rtl.min.css" />
        <link rel="stylesheet" href="uikit-3/css/uikit.css" />
        <script src="jquery.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit-icons.min.js"></script>
        <meta charset="utf-8">
        <link rel="stylesheet" href="uikit-3/css/css_custom/header.css" />
        <script src="uikit-3/js_custom/headers.js"></script>
</head>

<body>
        <div id="qui"></div>
        <script>
            header_admin("qui");
        </script>
       
        <div style="text-align: center;">
            <h1 style="font-style: italic;">Modifica <%= object.DisplayName %></h1>
            <a class="uk-button uk-button-default" href=""></a>
        </div>

        <div class="uk-card uk-card-default uk-card-body" style="margin: auto; background-color:whitesmoke; border-radius: 50px; width: 70%;">
                <div uk-grid class="uk-grid">
                    <div class="uk-width-1-2" >
                        <img src = <%= object.Immagine %>>
                    </div>
                    <div class="uk-width-1-2">
                        <form class="uk-form-horizontal uk-margin-small" action="/admin/modificaOggetto<%= object._id %>" method="POST">
                                <!--<li><span uk-icon="icon: user"></span>  Nome completo: <%= object.NomeCompleto %></li>-->
                                    <div class="uk-margin">
                                        <label class="uk-form-label" for="form-horizontal-select">Nuovo nome:</label>
                                        <div class="uk-margin">
                                            <div class="uk-inline uk-width-1-2">
                                                <span class="uk-form-icon" uk-icon="icon: user"></span>
                                                <input class="uk-input" type="text" placeholder="Nome" value="<%= object.DisplayName%>" name="DisplayName">
                                            </div>
                                        </div>
                                    </div>                               
                                <% if(object.tipo == "Oggetto") { %>
                                    <input type="hidden" name="tipo" value="Oggetto" >
                                    <!-- <li><span uk-icon="icon: info"></span>  Caratteristiche particolari : <%= object.Caratteristiche %></li> -->
                                    
                                        <div class="uk-margin">
                                            <label class="uk-form-label" for="form-horizontal-select">Nuova descrizione:</label>
                                            <div class="uk-margin">
                                                <div class="uk-inline uk-width-1-2">
                                                    <span class="uk-form-icon" uk-icon="icon: info"></span>
                                                    <input class="uk-input" type="text" placeholder="Descrizione" value="<%= object.Descrizione%>" name="Descrizione">
                                                </div>
                                            </div>
                                        </div> 
                                    <% } else { %>
                                        <input type="hidden" name="tipo" value="Personaggio" >
                                    <!-- <li><span uk-icon="icon: info"></span>  Caratteristiche particolari : <%= object.Caratteristiche %></li> -->
                                        <div class="uk-margin">
                                            <label class="uk-form-label" for="form-horizontal-select">Nuovo nome completo:</label>
                                            <div class="uk-margin">
                                                <div class="uk-inline uk-width-1-2">
                                                    <span class="uk-form-icon" uk-icon="icon: user"></span>
                                                    <input class="uk-input" type="text" placeholder="Nome Completo" value="<%= object.NomeCompleto%>" name="NomeCompleto">
                                                </div>
                                            </div>
                                        </div> 
                                    <% } %>
                                <!-- <li><span uk-icon="icon: credit-card"></span>  Tariffa : <%= object.Tariffa %></li> -->
                                    <div class="uk-margin">
                                        <label class="uk-form-label" for="form-horizontal-select">Nuova tariffa:</label>
                                        <div class="uk-margin">
                                            <div class="uk-inline uk-width-1-2">
                                                <span class="uk-form-icon" uk-icon="icon: credit-card"></span>
                                                <input class="uk-input" type="number" placeholder="Tariffa" value="<%= object.Tariffa%>" name="Tariffa">
                                            </div>
                                        </div>
                                    </div> 
                                <!-- <li><span uk-icon="icon: info"></span>  Caratteristiche particolari : <%= object.Caratteristiche %></li> -->
                                    <div class="uk-margin">
                                        <label class="uk-form-label" for="form-horizontal-select">Nuove caratteristiche particolari:</label>
                                        <div class="uk-margin">
                                            <div class="uk-inline uk-width-1-2">
                                                <span class="uk-form-icon" uk-icon="icon: info"></span>
                                                <input class="uk-input" type="text" placeholder="Caratteristiche" value="<%= object.Caratteristiche%>" name="Caratteristiche">
                                            </div>
                                        </div>
                                    </div> 
                                <!-- <li><span uk-icon="icon: warning"></span>   Avvertenze : <%= object.Avvertenze %></li> -->
                                    <div class="uk-margin">
                                        <label class="uk-form-label" for="form-horizontal-select">Nuove avvertenze:</label>
                                        <div class="uk-margin">
                                            <div class="uk-inline uk-width-1-2">
                                                <span class="uk-form-icon" uk-icon="icon: warning"></span>
                                                <input class="uk-input" type="text" placeholder="Avvertenze" value="<%= object.Avvertenze%>" name="Avvertenze">
                                            </div>
                                        </div>
                                    </div> 

                                    <div class="uk-margin">
                                        <label class="uk-form-label" for="form-horizontal-select">Numero noleggi:</label>
                                        <div class="uk-margin">
                                            <div class="uk-inline uk-width-1-2">
                                                <span class="uk-form-icon" uk-icon="icon: plus-circle"></span>
                                                <input class="uk-input" type="number" placeholder="Numero_Noleggi" value="<%= object.Numero_Noleggi%>" name="Numero_Noleggi">
                                            </div>
                                        </div>
                                    </div> 

                                    <!-- CONDIZIONI -->
                                    <div class="uk-margin">
                                        <label class="uk-form-label" for="form-horizontal-select">Condizioni:</label>
                                        <div class="uk-margin">
                                            <div class="uk-inline uk-width-1-2">
                                                 <select class="uk-select" name="Condizione">
                                                    <option value="Ottime">Ottime</option>
                                                    <option value="Buone">Buone</option>
                                                    <option value="Pessime">Pessime</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div> 
                                    
                                    
                                    <!-- STATO -->
                                    <div class="uk-margin">
                                        <label class="uk-form-label" for="form-horizontal-select">Stato:</label>
                                        <div class="uk-margin">
                                            <div class="uk-inline uk-width-1-2">
                                                <select class="uk-select" name="Stato">
                                                    <option value="Disponibile">Disponibile</option>
                                                    <option valie="Non disponibile">Non disponibile</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    
                            <input id="id_Oggetto" name="id_Oggetto" type="hidden" value= <%= object._id %>>
                            <input id="Immagine" name="Immagine" type="hidden" value= <%= object.Immagine %>>
                            <div style="text-align: center; margin-top: 15px;">
                                <button class="uk-button uk-button-secondary uk-button-large";>Conferma</button>
                            </div>
                        </form>
                    </div>
                </div>
        </div>
    </body>

    <footer>
                <div style="text-align: center; background-image: url('backgroundHome.jpg'); opacity: 0.9;">
            <div>
                <a href="/" class="uk-icon-button" uk-icon="home" style="margin: 40px; color: black;"></a>
            </div>
        </div>
    </footer>
</html>