<!DOCTYPE html>
<html>

<head>
    <title>Modifica Dati di un utente</title>
    <!-- Inizio -- head che funziona perfettamente-->
    <link rel="stylesheet" href="uikit-3/css/uikit.min.css" />
        <link rel="stylesheet" href="uikit-3/css/uikit-rtl.css" />
        <link rel="stylesheet" href="uikit-3/css/uikit-rtl.min.css" />
        <link rel="stylesheet" href="uikit-3/css/uikit.css" />
        <script src="jquery.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit-icons.min.js"></script>
        <meta charset="utf-8">
    <!-- Fine --  head che funziona perfettamente-->
    <link rel="stylesheet" href="uikit-3/css/css_custom/header.css" />
    <script src="uikit-3/js_custom/headers.js"></script>
</head>

<body>
    <div id="qui"></div>
    <script>
        header_admin("qui");
    </script>
    <%
            if(util.success){ %>
                <script>
                    UIkit.notification({message: "I dati sono stati aggiornati con successo", pos:"top-right",status: 'success', timeout: 10000});
                </script>
            <% }
        %>   

    <!-- ---------------------------------------------------------------------------------------------- -->
    <div class="uk-container uk-inline uk-margin">
        <form class="uk-flex uk-flex-right uk-width-1-2@s uk-position-top-right uk-margin-right" method="POST" action="/admin/eliminaUtente<%= user._id %>">           
            <button type="submit" class="uk-button uk-button-danger uk-border-rounded"  ><span uk-icon="trash"> </span> Elimina Utente </button>
        </form>
        <!-- if(util.mostra){
            <div uk-alert class="uk-overlay uk-overlay-default uk-position-center">
                <a class="uk-alert-close" uk-close></a>
                <h3>Attenzione</h3>
                <p>Sei sicuro di voler eliminare questo account?</p>
                 <div class="uk-width-1-1" uk-grid>
                    <div class="uk-flex uk-flex-center uk-width-1-2@s">           
                        <button class="uk-button uk-button-danger" id="btn-invio" >Si</button>
                    </div>
                     <div class="uk-flex uk-flex-center uk-width-1-2@s">           
                        <button class="uk-button uk-button-success" id="btn-invio" onclick="" >No </button>
                    </div>
                </div>
            </div>
        } -->
        <h2 class="uk-text-center">Cambio dati</h2>
        <div >
            <form name="form-cambioDati" class="uk-grid-small uk-flex-center" uk-grid action="/admin/modificaDati<%= user._id%>" method="POST"
                style ="width:60%; margin:auto; margin-bottom: 5vh;">
                <div class="uk-width-1-1">
                    <input class="uk-input" type="text"  placeholder= 'email' value="<%= user.email %>" name="email" readonly>
                </div>
                     
                <div class="uk-width-1-1">
                    <div class="uk-width-1-1 uk-inline">
                        <a id="icon-psw" class="uk-icon-button uk-form-icon uk-form-icon-flip" uk-icon="unlock"></a>
                        <input   class="uk-input" type="password" id="password" placeholder= 'password' value="<%= user.password %>" readonly>
                    </div>
                </div>
                 
                <div class="uk-width-1-2@s">
                    <input class="uk-input" type="text" placeholder= 'nome' value="<%= user.nome %>"  id="nome" >
                    <input  type="hidden"   id="nome-changed" value=""  name="nome">
                </div>
                <div class="uk-width-1-2@s">
                    <input class="uk-input" type="text" placeholder= 'cognome'value="<%= user.cognome %>"  id="cognome">
                    <input  type="hidden"   id="cognome-changed" value=""  name="cognome">
                </div>
                <div class="uk-width-1-4@s">
                    <input class="uk-input" type="text"  placeholder="citta" value="<%= user.citta %>" id="citta">
                    <input  type="hidden"   id="citta-changed" value="" name="citta">
                </div>
                <div class="uk-width-1-4@s">
                    <input class="uk-input" type="text" placeholder="CAP" value="<%= user.cap %>" id="cap">  
                    <input  type="hidden"   id="cap-changed" value=""  name="cap">
                </div>
                
                <div class="uk-width-1-2@s">
                    <input class="uk-input" type="text" placeholder="Indirizzo" value="<%= user.indirizzo %>"  id="indirizzo">
                    <input  type="hidden"   id="indirizzo-changed" value=""  name="indirizzo">
                </div>
                <!-- <div class="uk-width-1-1" uk-grid>
                 
                    <div class="uk-flex uk-flex-center uk-width-1-2@s">           
                        <button class="uk-button uk-button-danger" id="btn-invio" > Elimina Utente </button>
                    </div>
                </div> -->
                <div class="uk-flex uk-flex-center uk-width-1-2@s">
                    <button class="uk-button uk-button-primary" type="submit" id="btn-invio" > Cambia i dati </button>
               </div>
                      
            </form>
        </div>
    

    </div>


    <div style="text-align: center; background-image: url('backgroundHome.jpg'); opacity: 0.9;">
        <div>
            <a href="/" class="uk-icon-button" uk-icon="home" style="margin: 40px; color: black;"></a>
        </div>
    </div>

    <script>
        // document.querySelectorAll("input").addEventListener("change",function (event) {
        //     alert("Input Changed : " + event.target.name);
        // })

        document.querySelectorAll('input').forEach(item => {
            item.addEventListener('change', event => {
                var id = event.target.id; // id di chi a chiamato l'evento
                var id_changed = id + "-changed";
                var x = document.getElementById(id).value; // valore che è stato cambiato

                // alert(id +" -- "+  x);
                if(!x){
                    x = 'CaNcElLaTo-9999';
                }
                document.getElementById(id_changed).value = x;  
                //alert(document.getElementById(id_changed).value);

            });
        })
    </script>
</body>

</html>