<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="uikit-3/css/uikit.min.css" />
        <link rel="stylesheet" href="uikit-3/css/uikit-rtl.css" />
        <link rel="stylesheet" href="uikit-3/css/uikit-rtl.min.css" />
        <link rel="stylesheet" href="uikit-3/css/uikit.css" />
        <script src="jquery.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit-icons.min.js"></script>
        <meta charset="utf-8">
        <link rel="stylesheet" href="uikit-3/css/css_custom/header.css" />
        <script src="uikit-3/js_custom/headers.js"></script>
    </head>

    <body>


        <div id="qui"></div>
        <script>
            header_admin("qui");
        </script>

<div class="card-container" style="margin-bottom: 3vh; ">
    <div class="uk-card uk-card-default uk-width-1-1@m"
        style="margin: auto; background-color:whitesmoke; border-radius: 50px; width: 70%;">
        <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
                <div class="uk-width-auto">
                    <span uk-icon="credit-card"></span>
                </div>
                <div class="uk-width-expand">
                    <h3 class="uk-card-title uk-margin-remove-bottom" style="text-align: center; font-style: italic;"> 
                        TOP 3 UTENTI SPENDACCIONI
                    </h3>
                </div>
            </div>
        </div>
        <div class="uk-card-body">
            <ul class="uk-list uk-list-divider">
                <% for(let i of top3UtentiSpendaccioni){ %>
                    <li style="text-align: center;">(<%= i.sommaPagata %> &euro;)  <%= i.utente.nome %> <%= "  "%> <%= i.utente.cognome %></li>
                <% } %>
            </ul>
        </div>
    </div>

</div>

<div class="card-container" style="margin-bottom: 3vh; ">
    <div class="uk-card uk-card-default uk-width-1-1@m"
        style="margin: auto; background-color:whitesmoke; border-radius: 50px; width: 70%;">
        <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
                <div class="uk-width-auto">
                    <span uk-icon="star"></span>
                </div>
                <div class="uk-width-expand">
                    <h3 class="uk-card-title uk-margin-remove-bottom" style="text-align: center; font-style: italic;"> 
                        TOP 3 UTENTI CON PIU NOLEGGI
                    </h3>
                </div>
            </div>
        </div>
        <div class="uk-card-body">
            <ul class="uk-list uk-list-divider">
                <% for(let i of top3UtentiNoleggi){ %>
                    <li style="text-align: center;">(<%= i.numeroNoleggi %>)  <%= i.utente.nome %> <%= "  "%> <%= i.utente.cognome %></li>
                <% } %>
            </ul>
        </div>
    </div>

</div>


<div class="card-container" style="margin-bottom: 3vh; ">
    <div class="uk-card uk-card-default uk-width-1-1@m"
        style="margin: auto; background-color:whitesmoke; border-radius: 50px; width: 70%;">
        <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
                <div class="uk-width-auto">
                    <span uk-icon="tag"></span>
                </div>
                <div class="uk-width-expand">
                    <h3 class="uk-card-title uk-margin-remove-bottom" style="text-align: center; font-style: italic;"> 
                        TOP 3 OGGETTI PIU NOLEGGIATI
                    </h3>
                </div>
            </div>
        </div>
        <div class="uk-card-body">
            <ul class="uk-list uk-list-divider">
                <% for(let i of top3OggettiNOleggiati){ %>
                    <li style="text-align: center;">(<%= i.Numero_Noleggi %>)  <%= i.DisplayName %></li>
                <% } %>
            </ul>
        </div>
    </div>

</div>


<div class="card-container" style="margin-bottom: 3vh; ">
    <div class="uk-card uk-card-default uk-width-1-1@m"
        style="margin: auto; background-color:whitesmoke; border-radius: 50px; width: 70%;">
        <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
                <div class="uk-width-auto">
                    <span uk-icon="cart"></span>
                </div>
                <div class="uk-width-expand">
                    <h3 class="uk-card-title uk-margin-remove-bottom" style="text-align: center; font-style: italic;"> 
                        TOP 3 NOLEGGI PIU COSTOSI
                    </h3>
                </div>
            </div>
        </div>
        <div class="uk-card-body">
            <ul class="uk-list uk-list-divider">
                <% for(let i of top3NoleggioCostosi){ %>
                    <li style="text-align: center;">(<%= i.Tariffa_Totale %>)  <%=i.Nome %></li>
                <% } %>
            </ul>
        </div>
    </div>

</div>


        

        

        <div style="text-align: center; background-image: url('backgroundHome.jpg'); opacity: 0.9;">
            <div>
                <a href="/" class="uk-icon-button" uk-icon="home" style="margin: 40px; color: black;"></a>
            </div>
        </div>

    </body>
</html>