<!DOCTYPE html>
<html>

<head>
    <title>Prova degli header</title>
    <!-- Inizio -- head che funziona perfettamente-->
    <link rel="stylesheet" href="uikit-3/css/uikit.min.css" />
    <link rel="stylesheet" href="uikit-3/css/uikit-rtl.css" />
    <link rel="stylesheet" href="uikit-3/css/uikit-rtl.min.css" />
    <link rel="stylesheet" href="uikit-3/css/uikit.css" />
    <script src="jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit-icons.min.js"></script>
    <meta charset="utf-8">
    <script src="utilities/header.js"></script>
    <link rel="stylesheet" href="uikit-3/css/css_custom/header.css" />
    <link rel="stylesheet" href="uikit-3/css/css_custom/header.css" />
    <script src="uikit-3/js_custom/headers.js"></script>
</head>

<body>
    <div id="qui"></div>
    <script>
        header_admin("qui");
    </script>

    <!-- body della pagina -->
    <div class="uk-container uk-background-top-right uk-background-cover"  style="background-image: url('');text-align:center; " >
        <h1>Lista di utenti registrati </h1>
        <% for(var i=0; i < user.length; i++){ %>
            <% if(user[i].type == "user"){ %>
            
                <div class="card-container" style="margin-bottom: 3vh; ">
                    <div class="uk-card uk-card-default uk-width-1-1@m"
                        style="margin: auto; background-color:whitesmoke; border-radius: 50px; width: 70%;">
                        <div class="uk-card-header">
                            <div class="uk-grid-small uk-flex-middle" uk-grid>
                                <div class="uk-width-auto">
                                    <!--<img class="uk-border-circle" width="40" height="40" src="images/avatar.jpg"> -->
                                    <span uk-icon="user"></span>
                                </div>
                                <div class="uk-width-expand">
                                    <h3 class="uk-card-title uk-margin-remove-bottom"> <%=user[i].nome %> -
                                        <%= user[i].cognome %>
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="uk-card-body">
                            <ul class="uk-list uk-list-divider">
                                <% for(var u in user[i]){ %>
                                    <% if(u ){   %>
                                        <% if(u !="nome" && u !="cognome" && u !="password"  && u !="_id"){ %>
                                            <li> <%= user[i][u] %> </li>
                                        <% }} %>
                                <% } %>
                            </ul>
                        </div>
                        <div class="uk-card-footer">
                            <a href="/admin/modificaDati<%= user[i]._id %>" class="uk-button uk-button-text">Modifica Utente</a>
                        </div>
                    </div>

                </div>
            
                <% } %>
        <% } %>
        <div class="uk-width-1-1 uk-flex uk-flex-center uk margin">
            <a href="/admin/creaUtente" class="uk-button uk-button-primary uk-border-rounded uk-margin"> <span uk-icon="plus"> </span>  Crea Utente</a>
        </div>
    </div>

    <% %>
            <% %>

    <!-- footer -->
    <footer>
        <div class="uk-background-top-right uk-background-cover uk-panel uk-flex uk-flex-middle uk-flex-center"
            style="background-image: url('backgroundHome.jpg');">
            <a href="/" class="uk-icon-button" uk-icon="home" style="margin: 40px; color: black;"></a>
        </div>
    </footer>
</body>

</html>