<html>
    <head>

    </head>
    <body>
        <div class="uk-margin">
            <h1>Sessione funzionanteeeee </h1>
            <h1><%= email %></h1>
            
        </div>
        <div>
            <form action="/logout" method="GET">
                <button> Click me to destroy the curret session !!!!</button>
            </form>
            
        </div>

        <div>
            <h2>Click the button to send an email</h2>
                <form action="/prova/email" method="POST">
                    <label for="email">Email receiver :</label> <input type="text" name="email"> <br>
                    <label for="heading">Email subject  :</label> <input type="text" name="heading"> <br>
                    <label for="text">Corpo dell'email</label>
                    <textarea name="text" rows="10" cols="50">
                    </textarea>
                    <button type ="submit"  placeholder="scrivi qui il testo dell'email"> Send Default email</button>
                </form>
               
        </div>
    </body>
</html>