<!DOCTYPE html>
<html>

<head>
    <title>Registrazione</title>
    <!-- Inizio -- head che funziona perfettamente-->
    <link rel="stylesheet" href="uikit-3/css/uikit.min.css" />
        <link rel="stylesheet" href="uikit-3/css/uikit-rtl.css" />
        <link rel="stylesheet" href="uikit-3/css/uikit-rtl.min.css" />
        <link rel="stylesheet" href="uikit-3/css/uikit.css" />
        <script src="jquery.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit-icons.min.js"></script>
        <meta charset="utf-8">
        <link rel="stylesheet" href="uikit-3/css/css_custom/header.css" />
        <script src="uikit-3/js_custom/headers.js"></script>
</head>

<body>
        <div id="qui"></div>
        <script>
            header_user("qui", "<%= numero_carrello %>");
        </script>
    <%
            if(successo){ %>
                <script>
                    UIkit.notification({message: "I dati sono stati aggiornati con successo", pos:"top-right",status: 'success', timeout: 10000});
                </script>
            <% }
        %>
   
   

    <!-- ---------------------------------------------------------------------------------------------- -->
    <h2 class="uk-text-center">Cambio dati</h2>
    <div style="width: 60vw; margin:auto; margin-bottom: 5vh;">
        <form name="form-cambioDati" class="uk-grid-small uk-flex-center" uk-grid action="/user/modificaDati" method="POST">
            <div class="uk-width-1-1">
                <input class="uk-input" type="text"  placeholder= 'email' value="<%= session.email %>" name="email" readonly>
            </div>
            <!--Inizio- prova di password cliccabile-->      
            <div class="uk-width-1-1">
                <div class="uk-width-1-1 uk-inline">
                    <a id="icon-psw" class="uk-icon-button uk-form-icon uk-form-icon-flip" uk-icon="unlock" onclick="
                        if(document.getElementById('password').type !='text'){
                            document.getElementById('password').type='text';
                            document.getElementById('icon-psw').setAttribute('uk-icon', 'unlock');
                        }else{
                            document.getElementById('password').type='password';
                        document.getElementById('icon-psw').setAttribute('uk-icon', 'lock');
                        }
                    
                        "></a>
                    <input   class="uk-input" type="password" id="password" placeholder= 'password' value="<%= session.password %>" >
                    <input  type="hidden"   id="password-changed" value=""  name="password">
                </div>
            </div>
             <!-- Fine - prova di password cliccabile-->
            <div class="uk-width-1-2@s">
                <input class="uk-input" type="text" placeholder= 'nome' value="<%= session.nome %>"  id="nome" >
                <input  type="hidden"   id="nome-changed" value=""  name="nome">
            </div>
            <div class="uk-width-1-2@s">
                <input class="uk-input" type="text" placeholder= 'cognome'value="<%= session.cognome %>"  id="cognome">
                <input  type="hidden"   id="cognome-changed" value=""  name="cognome">
            </div>
            <div class="uk-width-1-4@s">
                <input class="uk-input" type="text"  placeholder="citta" value="<%= session.citta %>" id="citta">
                <input  type="hidden"   id="citta-changed" value="" name="citta">
            </div>
            <div class="uk-width-1-4@s">
                <input class="uk-input" type="text" placeholder="CAP" value="<%= session.cap %>" id="cap">  
                <input  type="hidden"   id="cap-changed" value=""  name="cap">
            </div>
            
            <div class="uk-width-1-2@s">
                <input class="uk-input" type="text" placeholder="Indirizzo" value="<%= session.indirizzo %>"  id="indirizzo">
                <input  type="hidden"   id="indirizzo-changed" value=""  name="indirizzo">
            </div>
           <div class="uk-flex uk-flex-center">
                <button class="uk-button" id="btn-invio" > Cambia i dati </button>
           </div>




       </div>
                       
        </form>
    </div>

    <div style="text-align: center; background-image: url('backgroundHome.jpg'); opacity: 0.9;">
        <div>
            <a href="/" class="uk-icon-button" uk-icon="home" style="margin: 40px; color: black;"></a>
        </div>
    </div>


    <script>
        // document.querySelectorAll("input").addEventListener("change",function (event) {
        //     alert("Input Changed : " + event.target.name);
        // })

        document.querySelectorAll('input').forEach(item => {
            item.addEventListener('change', event => {
                var id = event.target.id; // id di chi a chiamato l'evento
                var id_changed = id + "-changed";
                var x = document.getElementById(id).value; // valore che è stato cambiato

                // alert(id +" -- "+  x);
                if(!x){
                    x = 'CaNcElLaTo-9999';
                }
                document.getElementById(id_changed).value = x;  
                //alert(document.getElementById(id_changed).value);

            });
        })
    </script>
</body>

</html>