<html>

<head>
    <title></title>
    <link rel="stylesheet" href="uikit-3/css/uikit.min.css" />
        <link rel="stylesheet" href="uikit-3/css/uikit-rtl.css" />
        <link rel="stylesheet" href="uikit-3/css/uikit-rtl.min.css" />
        <link rel="stylesheet" href="uikit-3/css/uikit.css" />
        <script src="jquery.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit-icons.min.js"></script>
        <meta charset="utf-8">
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <link rel="stylesheet" href="uikit-3/css/css_custom/header.css" />
        <script src="uikit-3/js_custom/headers.js"></script>
        <script>
            console.log("prova di moment --"+moment(new Date).format("DD-MMM-YYYY"))
        </script>
    </head>

<body>
    <div id="qui"></div>
    <script>
        header_user("qui", "<%= numero_carrello %>");
    </script>

        
        <!-- Prova dello slider!!!!!!!!! --------------------------------------------------------------------------------------->
        <h3 class="uk-heading-medium" style="text-align: center; color: red;">Noleggi </h3>
        <div class="uk-slider-container-offset" center="true" uk-slider>

            <div class="uk-position-relative uk-visible-toggle " tabindex="-1">
        
                <ul class="uk-slider-items uk-child-width-1-2@s uk-grid">
                    <% for(var y=0; y<prenotazione.Noleggi.length; y++){ %>
                        <% for(var i=0; i<nol.length; i++){ %>
                            <% if(prenotazione.Noleggi[y].toString() == nol[i]._id.toString()){ %>
                                
                                <% var tariffa = nol[i].Tariffa; %>

                                <li>
                                    <div class="uk-card uk-card-default uk-card-body" style="background-color:whitesmoke; height:90vh">
                                        <div class="uk-card-media-top" style="text-align:center">
                                            <img style="width:60%; height:30%; text-align: center" src="<%=nol[i].Dati_Oggetto.Immagine%>" alt="">
                                        </div>
                                        <div class="uk-card-body">
                                            <h3 class="uk-card-title" style="text-align: center;"><%= nol[i].Nome %></h3>
                                            <%if(nol[i].Status == "futuro"){ %>
                                            <form action="/user/modificaNoleggio<%=nol[i]._id%>" method="POST">
                                                <ul class="uk-iconnav uk-iconnav-vertical">
                                                    <li><span uk-icon="icon: calendar"></span>  Data inizio :  
                                                        <input type="text" id="dataInizio<%=i%>" class="dataInizio" name="DataInizio" onchange="calcoloTariffa('<%=nol[i].Dati_Oggetto.Tariffa %>','<%=i%>')"> 
                                                        Vecchia data :<%= nol[i].DataInizio.toISOString().substring(0, 10) %>
                                                    <li><span uk-icon="icon: calendar"></span>  Data fine :   
                                                        <input type="text" id="dataFine<%=i%>" name="DataFine" class="dataFine" onchange="calcoloTariffa('<%=nol[i].Dati_Oggetto.Tariffa %>','<%=i%>')">
                                                        Vecchia data :<%= nol[i].DataFine.toISOString().substring(0, 10) %>
                                                    <li>
                                                        <div class="uk-margin" style="background-color:white">
                                                            <textarea style="color:black" class="uk-textarea" rows="5" placeholder="Scrivi qua delle note" name="Note"></textarea>
                                                        </div>
                                                    </li>
                                                    <li>Costo: 
                                                        <b id = "TariffaTemp<%=i%>">
                                                            selezionare le date
                                                        </b>
                                                    </li>
                                                    <input id="Tariffa_Totale<%=i%>" name="Tariffa_Totale" type="number" value=0 style="display: none">
                                                    <input id="id_Oggetto" name="id_Oggetto" type="hidden" value= <%= nol[i].id_Oggetto %>>
                                                    <input id="id_Utente" name="id_Utente" type="hidden" value= <%= nol[i].id_Utente %>>
                                                    <input id="Nome" name="Nome" type="hidden" value= <%= nol[i].Nome %>>
                                                    <input id="Status" name="Status" type="hidden" value= <%= nol[i].Status %>>
                                                    <input id="id_prenotazione" name="Id_Prenotazione" type="hidden" value= <%= prenotazione._id %>>
                                                    <input id="Tariffa_Vecchia" name="Tariffa_Vecchia" type="hidden" value= <%= nol[i].Tariffa_Totale %>>
                                                    <input id="Tariffa_Prenotazione" name="Tariffa_Prenotazione" type="hidden" value= <%= prenotazione.Tariffa_Totale %>>
                                                    <input id="Codice_Prenotazione" name="Codice_Prenotazione" type="hidden" value= <%= prenotazione.Codice%>>
                        
                                                </ul>
                                                <div class="uk-card-footer">
                                                    <button  style="color:black" type = "submit"  class="uk-button uk-button-text">Modifica Dati</a>
                                                </div> 
                                            </form>
                                            <%} else if(nol[i].Status == "Interrotto"){%>
                                                <p style="align-items: center;">
                                                    L'admin ha interroto o cancellato il noleggio, per info contatta il servizio clienti \n
                                                    Eventuali penali saranno comunicate
                                                </p>
                                            <% } else if(nol[i].Status == "attivo") {%>
                                                <p style="align-items: center;">
                                                    Il noleggio è già iniziato e non è possibile modificarlo
                                                </p>
                                            <% } else {%>
                                                <p style="align-items: center;">
                                                    Il noleggio è terminato
                                                </p>
                                            <% } %>
                                        </div>
                                    </div>
                                </li>

                            <% } %>
                        <% } %>
                    <% } %>
        
                   
                </ul>
        
                <a class="uk-position-center-left uk-position-small uk-hidden-hover" color="black" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
                <a class="uk-position-center-right uk-position-small uk-hidden-hover" color="black" href="#" uk-slidenav-next uk-slider-item="next"></a>
        
            </div>
        
            <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
        
        </div>








    <!-- Footer-->
    <div style="text-align: center; background-image: url('backgroundHome.jpg'); opacity: 0.9;">
        <div>
            <a href="/" class="uk-icon-button" uk-icon="home" style="margin: 40px; color: black;"></a>
        </div>
    </div>
</body>

<script>
            function formatDate(date) {
            var y = new Date(date),
                month = '' + (y.getMonth() + 1),
                day = '' + y.getDate(),
                year = y.getFullYear();

            if (month.length < 2) 
                month = '0' + month;
            if (day.length < 2) 
                day = '0' + day;

            return [year, month, day].join('-');
        }

var Noleggi = <%- JSON.stringify(nol[0].Noleggi) %>;
    var startDate, endDate, dateRange = [];
    console.log(Noleggi[0]);
    for(var i = 0; i < Noleggi.length; i++){ 
        startDate = formatDate(Noleggi[i].DataInizio);
        endDate = formatDate(Noleggi[i].DataFine);
            for (var d = new Date(startDate);
                d < new Date(endDate);
                d.setDate(d.getDate() + 1)) {
                    dateRange.push($.datepicker.formatDate('yy-mm-dd', d));
            }
    }

    function calcoloTariffa(tariffa,i) {
        startDate = formatDate(document.getElementById("dataInizio" + i).value);
        endDate = formatDate(document.getElementById("dataFine" + i).value);
        if (Date.parse(endDate) > Date.parse(startDate) ) {
            var numGiorni = (Math.floor(( Date.parse(endDate) - Date.parse(startDate) ) / 86400000) + 1);
            var val = (tariffa*numGiorni);
            document.getElementById("Tariffa_Totale" + i).value = val;
            document.getElementById("TariffaTemp" + i).innerHTML = val;
        }else{
            val = "selezionare le date";
            document.getElementById("TariffaTemp" + i).innerHTML = val;
        }
    }
        

    $('.dataInizio').datepicker({
        minDate : new Date(),
        beforeShowDay: function (date) {
            var dateString = jQuery.datepicker.formatDate('yy-mm-dd', date);
            return [dateRange.indexOf(dateString) == -1];
        }
    });

    $('.dataFine').datepicker({
        minDate : new Date(),
        beforeShowDay: function (date) {
            var dateString = jQuery.datepicker.formatDate('yy-mm-dd', date);
            return [dateRange.indexOf(dateString) == -1];
        }
    });

</script>



</html>