<!DOCTYPE html>
<html>

    <head>
        <title></title>
        <link rel="stylesheet" href="uikit-3/css/uikit.min.css" />
        <link rel="stylesheet" href="uikit-3/css/uikit-rtl.css" />
        <link rel="stylesheet" href="uikit-3/css/uikit-rtl.min.css" />
        <link rel="stylesheet" href="uikit-3/css/uikit.css" />
        <script src="jquery.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit-icons.min.js"></script>
        <meta charset="utf-8">
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <link rel="stylesheet" href="uikit-3/css/css_custom/header.css" />
        <script src="uikit-3/js_custom/headers.js"></script>
</head>

<body>
        <div id="qui"></div>
        <script>
            header_user("qui", "<%= numero_carrello %>");
        </script>
    


        <div style="text-align: center;">
            <h1 style="font-style: italic;">Prenotazione <%= object[0].DisplayName %></h1>
            <p> Seleziona data di inizio e di fine del tuo noleggio</p>
        </div>

        <% var tariffa = object[0].Tariffa; %>

        <div class="uk-card uk-card-default uk-card-body" style="margin: auto; background-color:whitesmoke; border-radius: 50px; width: 70%;">
            <form action="/user/prenotazione:ID" method="POST">
                <div uk-grid class="uk-grid">
                    <div class="uk-width-1-2">
                        <img src = <%= object[0].Immagine %>>
                        
                    </div>
                    <div class="uk-width-1-2">
                        <ul class="uk-iconnav uk-iconnav-vertical">
                            <li><span uk-icon="icon: calendar"></span>  Data inizio :  <input type="text" id="dataInizio" name="DataInizio" onchange="calcoloTariffa('<%=object[0].Tariffa %>')">
                            <li><span uk-icon="icon: calendar"></span>  Data fine :   <input type="text" id="dataFine" name="DataFine" onchange="calcoloTariffa('<%=object[0].Tariffa %>')">
                            <li>
                                <div class="uk-margin">
                                    <textarea class="uk-textarea" rows="5" placeholder="Note" name="Note"></textarea>
                                </div>
                            </li>
                            <li>Costo: 
                                <b id = "TariffaTemp">
                                    selezionare le date
                                </b>
                            </li>
                            <input id="Tariffa_Totale" name="Tariffa_Totale" type="number" value=0 style="display: none">
                            <input id="id_Oggetto" name="id_Oggetto" type="hidden" value= <%= object[0]._id %>>
                        </ul>
                        <div style="text-align: center; margin-top: 15px;">
                                    <button class="uk-button uk-button-secondary uk-button-large";>Aggiungi al carrello</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>



        
        <div style="text-align: center; background-image: url('backgroundHome.jpg'); opacity: 0.9;">
            <div>
                <a href="/" class="uk-icon-button" uk-icon="home" style="margin: 40px; color: black;"></a>
            </div>
        </div>
        
        
    </body>
    <script>
        function formatDate(date) {
            var y = new Date(date),
                month = '' + (y.getMonth() + 1),
                day = '' + y.getDate(),
                year = y.getFullYear();

            if (month.length < 2) 
                month = '0' + month;
            if (day.length < 2) 
                day = '0' + day;

            return [year, month, day].join('-');
        }
 

    
    var Noleggi = <%- JSON.stringify(object[0].Noleggi) %>;
    var startDate, endDate, dateRange = [];
    console.log(Noleggi[0]);
    for(var i = 0; i < Noleggi.length; i++){ 
        startDate = formatDate(Noleggi[i].DataInizio);
        endDate = formatDate(Noleggi[i].DataFine);
            for (var d = new Date(startDate);
                d < new Date(endDate);
                d.setDate(d.getDate() + 1)) {
                    dateRange.push($.datepicker.formatDate('yy-mm-dd', d));
            }
    }

    function calcoloTariffa(tariffa) {
        startDate = formatDate(document.getElementById("dataInizio").value);
        endDate = formatDate(document.getElementById("dataFine").value);
        if (Date.parse(endDate) > Date.parse(startDate) ) {
            var numGiorni = (Math.floor(( Date.parse(endDate) - Date.parse(startDate) ) / 86400000) + 1);
            var val = (tariffa*numGiorni);
            document.getElementById("Tariffa_Totale").value = val;
            document.getElementById("TariffaTemp").innerHTML = val;
        }else{
            val = "selezionare le date";
            document.getElementById("TariffaTemp").innerHTML = val;
        }
    }
        

    $('#dataInizio').datepicker({
        minDate: new Date(),
        beforeShowDay: function (date) {
            var dateString = jQuery.datepicker.formatDate('yy-mm-dd', date);
            return [dateRange.indexOf(dateString) == -1];
        }
    });

    $('#dataFine').datepicker({
        minDate: new Date(),
        beforeShowDay: function (date) {
            var dateString = jQuery.datepicker.formatDate('yy-mm-dd', date);
            return [dateRange.indexOf(dateString) == -1];
        }
    });

    
    </script>
 </html>