
<!DOCTYPE html>
<html>

<head>
    <title>Prova degli header</title>
    <!-- Inizio -- head che funziona perfettamente-->
    <link rel="stylesheet" href="uikit-3/css/uikit.min.css" />
        <link rel="stylesheet" href="uikit-3/css/uikit-rtl.css" />
        <link rel="stylesheet" href="uikit-3/css/uikit-rtl.min.css" />
        <link rel="stylesheet" href="uikit-3/css/uikit.css" />
        <script src="jquery.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.22/dist/js/uikit-icons.min.js"></script>
        <meta charset="utf-8">
        
        <link rel="stylesheet" href="uikit-3/css/css_custom/header.css" />
        <script src="uikit-3/js_custom/headers.js"></script>
        
    </head>

<body>
  
    <div id="nolog"></div>
    <div id="user"></div>
    <div id="admin"></div>
    <script>
        var id = "qua"; 
        header_nolog("nolog");
        header_user("user", "<%=numero_carrello%>");
        header_admin("admin");
        
    </script>
  
    
  
    <!-- footer -->
   <footer> 
        <div class="uk-background-top-right uk-background-cover uk-panel uk-flex uk-flex-middle uk-flex-center" style="background-image: url('backgroundHome.jpg');">
            <a href="/" class="uk-icon-button" uk-icon="home" style="margin: 40px; color: black;"></a>
        </div>
   </footer>
</body>

</html>