div.container {
    background-color: #FFFF99;
    width: 100%;
    border-right: 10px;
    padding: 0;
}

div.uk-navbar-dropdown {
    background-color: #f1c190;
    border-radius: 10px;

}


li :hover {
    border-radius: 10px;
    text-decoration: underline;
    text-decoration-color: #F51720;

}

